In [2]:
import numpy as np
import pandas as pd
print("Done")

Done

In [5]:
df1=pd.read_csv("EXP3_1.csv")
df1

    TID     INCOME     AGE OWNHOUSE
0     1  VERY HIGH   YOUNG      YES
1     2       HIGH  MEDIUM      YES
2     3        LOW   YOUNG   RENTED
3     4       HIGH  MEDIUM      YES
4     5  VERY HIGH  MEDIUM      YES
5     6     MEDIUM   YOUNG      YES
6     7       HIGH     OLD      YES
7     8     MEDIUM  MEDIUM   RENTED
8     9        LOW  MEDIUM   RENTED
9    10        LOW     OLD   RENTED
10   11       HIGH   YOUNG      YES
11   12     MEDIUM     OLD   RENTED

In [7]:
print(df1.columns)

df=df1.drop('TID',axis=1)
# df
df2=df.drop('OWNHOUSE',axis=1)
df2

Index(['TID', 'INCOME', 'AGE', 'OWNHOUSE'], dtype='object')

       INCOME     AGE
0   VERY HIGH   YOUNG
1        HIGH  MEDIUM
2         LOW   YOUNG
3        HIGH  MEDIUM
4   VERY HIGH  MEDIUM
5      MEDIUM   YOUNG
6        HIGH     OLD
7      MEDIUM  MEDIUM
8         LOW  MEDIUM
9         LOW     OLD
10       HIGH   YOUNG
11     MEDIUM     OLD

In [8]:
df.shape

(12, 3)

In [13]:
yes_cnt=0
no_cnt=0
for i in range(df.shape[0]):
  if(df['OWNHOUSE'][i] == 'YES' or df['OWNHOUSE'][i] == 'Yes'):
    yes_cnt+=1
  else:
    no_cnt+=1
no_cnt,yes_cnt
df.columns

Index(['INCOME', 'AGE', 'OWNHOUSE'], dtype='object')

In [14]:
df.shape

(12, 3)

In [21]:
cnt=0
p=[]

# a=list(df[df.columns[0]].unique())
# print(type(a))
cntj=0
# cnt_yes=0



for k in df2.columns:
  wa=sum(p)
  unique=list(df[k].unique())
  print(unique)
  p=[]

  for j in unique:
    cnt_yes=0
    cnt=0
    gini=0
    print("ROW:",j)
    # cntj+=1

    for i in range(df.shape[0]):
      # print(cntj)
      # print(j,i)
      if (df[k][i]==j):
        cnt+=1
        if(df['OWNHOUSE'][i]=='YES'):
          cnt_yes+=1
        
      #-------i loop------------
  
    if cnt!=0:
      gini=1-((cnt_yes/cnt)**2+((cnt-cnt_yes)/cnt)**2)
      print("Gini: ",gini)
      p.append(gini*(cnt/df.shape[0]))
    cntj+=1
    #---------j loop-----------


  print(p)
#------k loop----------

#---------------------------------------
# wa=sum(p)
print("weighted avg",wa)

['VERY HIGH', 'HIGH', 'LOW', 'MEDIUM']
ROW: VERY HIGH
Gini:  0.0
ROW: HIGH
Gini:  0.0
ROW: LOW
Gini:  0.0
ROW: MEDIUM
Gini:  0.4444444444444444
[0.0, 0.0, 0.0, 0.1111111111111111]
['YOUNG', 'MEDIUM', 'OLD']
ROW: YOUNG
Gini:  0.375
ROW: MEDIUM
Gini:  0.48
ROW: OLD
Gini:  0.4444444444444444
[0.125, 0.2, 0.1111111111111111]
weighted avg 0.1111111111111111

KeyError: ignored