In [2]:
import numpy as np
import pandas as pd
print("Done")

Done

In [5]:
df1=pd.read_csv("EXP3_1.csv")
df1

    TID     INCOME     AGE OWNHOUSE
0     1  VERY HIGH   YOUNG      YES
1     2       HIGH  MEDIUM      YES
2     3        LOW   YOUNG   RENTED
3     4       HIGH  MEDIUM      YES
4     5  VERY HIGH  MEDIUM      YES
5     6     MEDIUM   YOUNG      YES
6     7       HIGH     OLD      YES
7     8     MEDIUM  MEDIUM   RENTED
8     9        LOW  MEDIUM   RENTED
9    10        LOW     OLD   RENTED
10   11       HIGH   YOUNG      YES
11   12     MEDIUM     OLD   RENTED

In [6]:
print(df1.columns)

# df=df1.drop('Tid',axis=1)
# # df
# df2=df.drop('House',axis=1)
# df2

Index(['TID', 'INCOME', 'AGE', 'OWNHOUSE'], dtype='object')

KeyError: ignored

In [ ]:
df.shape

(12, 3)

In [ ]:
yes_cnt=0
no_cnt=0
for i in range(df.shape[0]):
  if(df['House'][i] == 'yes' or df['House'][i] == 'Yes'):
    yes_cnt+=1
  else:
    no_cnt+=1
no_cnt,yes_cnt
df.columns

Index(['income', 'age', 'House'], dtype='object')

In [ ]:
df.shape

(12, 3)

In [ ]:
cnt=0
p=[]

a=list(df[df.columns[0]].unique())
print(type(a))
cntj=0
# cnt_yes=0



for k in df2.columns:
  wa=sum(p)
  a=list(df[k].unique())
  print(type(a))
  p=[]
  for j in a:
    cnt_yes=0
    cnt=0
    gini=0
    print("ROW:",j)
    # cntj+=1
    for i in range(df.shape[0]):
      print(cntj)
      # print(j,i)
      if (df[k][i]==j):
        cnt+=1
        if(df['House'][i]=='yes'):
          cnt_yes+=1
        
    #-------------------
    if cnt!=0:
      gini=1-((cnt_yes/cnt)**2+((cnt-cnt_yes)/cnt)**2)
      print("Gini of:",j,gini)
      p.append(gini*(cnt/df.shape[0]))
    cntj+=1

  print(p)

#---------------------------------------
# wa=sum(p)
cnt,wa

<class 'list'>
<class 'list'>
ROW: very high
0
0
0
0
0
0
0
0
0
0
0
0
Gini of: very high 0.0
ROW: high
1
1
1
1
1
1
1
1
1
1
1
1
Gini of: high 0.0
ROW: low
2
2
2
2
2
2
2
2
2
2
2
2
Gini of: low 0.0
ROW: medium
3
3
3
3
3
3
3
3
3
3
3
3
Gini of: medium 0.4444444444444444
[0.0, 0.0, 0.0, 0.1111111111111111]
<class 'list'>
ROW: young
4
4
4
4
4
4
4
4
4
4
4
4
Gini of: young 0.375
ROW: medium
5
5
5
5
5
5
5
5
5
5
5
5
Gini of: medium 0.48
ROW: old
6
6
6
6
6
6
6
6
6
6
6
6
Gini of: old 0.4444444444444444
[0.125, 0.2, 0.1111111111111111]

(3, 0.1111111111111111)

KeyError: ignored